/* variables */

:root {
	--col-background: rgb(146,9,0);
	--col-active: rgb(218,25,23);
	--col-text: rgb(255, 255, 255);
	--col-explanation: blue;
	--col-custom: red;
	--spacing: 10px;
	--menu-font-size: 1.5em;
	--list-font-size: 1.5em;
	--h1-font-size: 1.5em;
	--h2-font-size: 1em;
}

/* all tags */

* {
	margin: 0px;
	padding: 0px;
}

/* body tag */

body {
	padding-bottom: var(--spacing);
}

/* navigation menu */

div.menu-container {
	display: flex;
	justify-content: center;
	background-color: var(--col-background);
	font-weight: bold;
	font-size: var(--menu-font-size);
	text-shadow: 2px 2px 4px black;
}

span.menu-spacer {
	padding-top: var(--spacing);
	padding-bottom: var(--spacing);
	color: var(--col-text);
}

a.menu-element {
	padding: var(--spacing);
	color: var(--col-text);
	text-decoration: none;
}

a.active {
	background-color: var(--col-active);
}

/* page content */

div.centered {
	padding-bottom: var(--spacing);
	padding-left: var(--spacing);
	padding-right: var(--spacing);
	text-align: center;
}

div.list p {
	font-size: var(--list-font-size);
}

h1 {
	font-size: var(--h1-font-size);
	margin-top: var(--spacing);
}

h2 {
	font-size: var(--h2-font-size);
	margin-top: var(--spacing);
	/*background-color: rgb(200,200,200);*/
}

p {
	margin-top: var(--spacing);
}

img {
	margin-top: var(--spacing);
	/*box-shadow: 0px 0px 10px black;*/ /* horizontal, vertical, blur, color */
}

p.marked, span.marked {
	font-weight: bold;
}

h2.explanation, p.explanation, span.explanation {
	color: var(--col-explanation)
}

h2.custom, p.custom, span.custom {
	color: var(--col-custom)
}