/* variables */

:root {
	/* unused */
	--col-bang-01: rgb(245,49,47);

	/* used */
	--col-background: rgb(146,9,0);
	--col-inactive: rgb(150,36,27);
	--col-active: rgb(218,25,23);
	--col-explanation: blue;
	--col-custom: red;
	--horizontal-padding: 10px;
	--vertical-padding: 10px;
	--heading-padding: 10px;
	--menu-font-size: 1.5em;
	--list-font-size: 1.5em;
	--h1-font-size: 1.5em;
	--h2-font-size: 1em;
}

/* all tags */

* {
	margin: 0px;
	padding: 0px;
}

/* body tag */

body {
	padding-bottom: var(--vertical-padding);
}

/* navigation menu */

div.menu-container {
	display: flex;
	justify-content: center;
	background-color: var(--col-background);
}

span.menu-spacer {
	padding-top: 10px;
	padding-bottom: 10px;
	color: white;
	font-weight: bold;
	font-size: var(--menu-font-size);
	text-shadow: 2px 2px 4px black;
}

a.menu-element {
	padding: 10px;
	text-align: center;
	color: white;
	font-weight: bold;
	font-size: var(--menu-font-size);
	text-decoration: none;
	text-shadow: 2px 2px 4px black;
}

a.active {
	background-color: var(--col-active);
}

/* page content */

div.centered {
	clear: both;
	padding-bottom: var(--vertical-padding);
	padding-left: var(--horizontal-padding);
	padding-right: var(--horizontal-padding);
	text-align: center;
}

div.list p {
	font-size: var(--list-font-size);
}

h1 {
	font-size: var(--h1-font-size);
	padding-top: var(--heading-padding);
}

h2 {
	font-size: var(--h2-font-size);
	padding-top: var(--heading-padding);
}

p {
	padding-top: var(--vertical-padding);
}

h2.explanation, p.explanation, span.explanation {
	color: var(--col-explanation)
}

h2.custom, p.custom, span.custom {
	color: var(--col-custom)
}
