/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------- custom variables --------------------------------------------------------------------------------------- custom variables ---------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

:root
  {
    /* text styles */
    
    --custom-H1-font-size: 2rem;
    --custom-H1-font-color: rgb(30, 30, 30);
    --custom-H1-wrapper-border: 3px solid rgb(254, 218, 106);
    
    --custom-H2-font-size: 1.5rem;
    --custom-H2-font-color: rgb(30, 30, 30);
    
    /* web */
    
    --custom-content-padding-horizontal: 20px;
    --custom-content-padding-vertical: 10px;
    --custom-wide-screen-margin: 200px; /* if changed, chnage the media query too*/
    --custom-body-min-width: 480px;
    
    /* top heading */
    
    --custom-heading-height: 100px;
    --custom-heading-top-margin: 10px;
    --custom-heading-font-size: 1rem;
    --custom-heading-decoration-size: 10px;
    
    --custom-heading-font-color: rgb(30, 30, 30);
    --custom-heading-span-font-color: rgb(225, 225, 225);
    
    /* top navigation menu */
    
    --custom-menu-height: 50px;
    --custom-menu-top-margin: 5px;
    --custom-menu-links-padding: 10px; /* left and right padding */
    --custom-menu-font-size: 0.8rem;    
    --custom-dropdown-mobile-width: 50%;
    
    --custom-menu-background-color: rgb(30, 30, 30);
    --custom-menu-font-color: rgb(225, 225, 225);
    --custom-menu-active-background-color: rgb(254, 218, 106);
    --custom-menu-active-font-color: rgb(30, 30, 30);
    --custom-menu-hover-background-color: rgb(225, 225, 225);
    --custom-menu-hover-font-color: rgb(30, 30, 30);
    --custom-menu-mobile-background-color: rgba(30, 30, 30, 0.75); /* rgba */
    
    --custom-dropdown-background-color: rgb(225, 225, 225);
    --custom-dropdown-font-color: rgb(30, 30, 30);
    --custom-dropdown-hover-background-color: rgb(30, 30, 30);
    --custom-dropdown-hover-font-color: rgb(225, 225, 225);    
    
    /* slideshow */
    
    /* page heading */
    
    /* page content */
    
    --custom-category-width: 300px; /* should be 300 + 2 * border */
    --custom-category-height: 250px; /* should be 250 + 2 * border */
    --custom-category-radius: 10px;
    --custom-categories-margin: 20px; /* left and right*/
    --custom-category-text-background-height: 50px;    
    --custom-category-font-size: 2rem;
    
    --custom-category-shadow: 2px 2px 4px rgb(127, 127, 127);
    --custom-category-text-background-color: rgb(225, 225, 225);
    --custom-category-font-color: rgb(30,30, 30);
    --custom-category-hover-background-color: rgb(254, 218, 106);
    --custom-category-hover-font-color: rgb(30, 30, 30);
    
    /* contact form */
    
    --custom-form-items-height: 50px;
    --custom-form-fields-text-padding: 10px;
    --custom-form-items-margin: 10px;
    --custom-form-items-border-radius: 5px;
    --custom-form-items-width: 200px;
    --custom-form-button-font-size: 1rem;
    --custom-form-info-font-size: 0.8rem;
    --custom-form-fields-font-size: 1rem;
    
    --custom-form-background-color: rgb(254, 218, 106);
    --custom-form-button-background-color: rgb(30, 30, 30);
    --custom-form-button-font-color: rgb(225, 225, 225);   
    --custom-form-button-hover-background-color: rgb(225, 225, 225);
    --custom-form-button-hover-font-color: rgb(30, 30, 30);    
    
    /* bottom footer */
    
    --custom-footer-font-size: 0.8rem;
    
    --custom-footer-background-color: rgb(30, 30, 30);
    --custom-footer-font-color: rgb(225, 225, 225);
    --custom-footer-span-font-color: rgb(127, 127, 127);
    
    /* break points */
    
    --custom-break: 900px; /* if changed, chnage the media query too*/

  }

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------- styles ----------------------------------------------------------------------------------------------------------- styles ---------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------- for all ------------------------------------------------------- for all ---------- */

*
  {
    margin: 0px;
    padding: 0px;
    font-family: Ubuntu, sans-serif;
    box-sizing: border-box;
  }

/* ---------- body ------------------------------------------------------------- body ---------- */

body
  {
    min-width: var(--custom-body-min-width);
  }

/* ---------- top heading ----------------------------------------------- top heading ---------- */

#top-head-wrapper
  {
    height: var(--custom-heading-height);
    margin-left: var(--custom-wide-screen-margin);
    margin-right: var(--custom-wide-screen-margin);
    padding-left: var(--custom-content-padding-horizontal);
    padding-right: var(--custom-content-padding-horizontal);
  }

.top-head-logo
  {
    position: relative;
    display: inline-block;
    float: left;
    height: var(--custom-heading-height);
  }

.top-head-logo img
  {
    margin-top: var(--custom-heading-top-margin);
    height: calc(var(--custom-heading-height) - 2 * var(--custom-heading-top-margin));
  }

#top-head-decoration
  {
    position: absolute;
    bottom: calc(-1 * var(--custom-heading-decoration-size));
    left: calc(-2 * var(--custom-heading-decoration-size));
    width: calc(100% + 4 * var(--custom-heading-decoration-size));
    border-top: var(--custom-heading-decoration-size) solid white;
    border-left: calc(2 * var(--custom-heading-decoration-size)) solid transparent;
    border-right: calc(2 * var(--custom-heading-decoration-size)) solid transparent;
    z-index: 4;
  }

.top-head-decoration-sticky
  {
    display: none;
  }

#top-head-wrapper p
  {
    float: right;
    line-height: calc(var(--custom-heading-height) - 2 * var(--custom-heading-top-margin));
    margin-top: var(--custom-heading-top-margin);
    color: var(--custom-heading-font-color);
    font-size: var(--custom-heading-font-size);
    font-weight: bold;
  }

#top-head-wrapper span
  {
    color: var(--custom-heading-span-font-color);
  }

#top-head-line
  {
    width: 100%;
    height: 0px;
    background-color: var(--custom-menu-background-color);
  }

.top-head-line-sticky
  {
    margin-bottom: var(--custom-menu-height);
  }

/* ---------- top navigation menu ------------------------------- top navigation menu ---------- */

#top-nav-background
  {
    width: 100%;
    background-color: var(--custom-menu-background-color);
    min-height: var(--custom-menu-height); /* holds the menu height when its elements are floated or displayed as none */
  }

.top-nav-background-sticky
  {
    position: fixed;
    top: 0px;
    z-index: 1;
  }

.top-nav-wrapper
  {
    margin-left: var(--custom-wide-screen-margin);
    margin-right: var(--custom-wide-screen-margin);
    text-align: center;
  }

.top-nav-logo
  {
    float: left;
    height: var(--custom-menu-height);
    padding-left: var(--custom-content-padding-horizontal);
  }

#logo-white
  {
    margin-top: var(--custom-menu-top-margin);
    height: calc(var(--custom-menu-height) - 2 * var(--custom-menu-top-margin));
  }

.logo-white-not-sticky
  {
    display: none;
  }

#top-nav-links
  {
    margin-left: auto;
    margin-right: auto;
    font-size: var(--custom-menu-font-size);
  }
  
.top-nav-links-on
  {
    display: inline-block;
  }  

.top-nav-links-off
  {
    display: inline-block;
  }  

.top-nav-link
  {
    display: inline-block;
    text-decoration: none;
    height: var(--custom-menu-height);
    color: var(--custom-menu-font-color);
    padding-right: var(--custom-menu-links-padding);
    padding-left: var(--custom-menu-links-padding);
  }  

.top-nav-link.active
  {
    background-color: var(--custom-menu-active-background-color);
    color: var(--custom-menu-active-font-color);
  }

.top-nav-link:hover
  {
    background-color: var(--custom-menu-hover-background-color);
    color: var(--custom-menu-hover-font-color);
  }

.top-nav-link span
  {
    line-height: var(--custom-menu-height);
  }

.dropdown-wrapper
  {
    display: inline-block;
    position: relative;
  }

.dropdown-content
  {
    display: none;
    position: absolute;
    z-index: 3;
    background-color: var(--custom-dropdown-background-color);
  }

.dropdown-link
  {
    display: block;
    color: var(--custom-dropdown-font-color);
    text-decoration: none;
    height: var(--custom-menu-height);
    padding-right: var(--custom-menu-links-padding);
    padding-left: var(--custom-menu-links-padding);
  }

.dropdown-link:hover
  {
    background-color: var(--custom-dropdown-hover-background-color);
    color: var(--custom-dropdown-hover-font-color);
  }

.dropdown-link span
  {
    line-height: var(--custom-menu-height);
  }

.dropdown-wrapper:hover .dropdown-content
  {
    display: block;
  }

.dropdown-wrapper:hover .exodus /* css of menu item "STROJE" when mouse cursor hovering over dropdown menu */
  {
    background-color: var(--custom-menu-hover-background-color);
    color: var(--custom-menu-hover-font-color);
  }

#top-nav-number
  {
    float: right;
    height: var(--custom-menu-height);
    padding-right: var(--custom-content-padding-horizontal);
  }

#menu-number
  {
    color: var(--custom-menu-font-color);
    font-size: var(--custom-menu-font-size);
    line-height: calc(var(--custom-menu-height) - 2 * var(--custom-menu-top-margin));
    margin-top: var(--custom-menu-top-margin);
  }
  
.menu-number-not-sticky
  {
    display: none;
  }
  
.top-nav-icon
  {
    float: right;
    height: var(--custom-menu-height);
    padding-right: var(--custom-content-padding-horizontal);
    display: none;
  }

.top-nav-icon img
  {
    margin-top: var(--custom-menu-top-margin);
    height: calc(var(--custom-menu-height) - 2 * var(--custom-menu-top-margin));
    cursor: pointer;
  }

/* ---------- slideshow --------------------------------------------------- slideshow ---------- */

.slideshow
  {
    /*position: relative;*/
    margin-left: var(--custom-wide-screen-margin);
    margin-right: var(--custom-wide-screen-margin);
    padding-left: var(--custom-content-padding-horizontal);
    padding-right: var(--custom-content-padding-horizontal);
  }

.slideshow img
  {
    width: 100%;
  }

.slideshow-pagination
  {
    width: 100%;
    /*position: absolute;*/
    /*bottom: 20px;*/
    /*left: 0px;*/
    text-align: center;
    /*border: 1px solid red;*/
    /*padding-top: 10px;*/
  }

.slideshow-pagination-item
  {
    display: inline-block;
    line-height: 25px;
    width: 80px;
    border-radius: 0px 0px 5px 5px;
    background-color: rgb(225, 225, 225);
    color: rgb(30, 30, 30);
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
  }

.slideshow-pagination-item:hover
  {
    background-color: rgb(30, 30, 30);
    color: rgb(225, 225, 225);
  }

.slideshow-pagination-item-active
  {
    background-color: rgb(254, 218, 106);
    color: rgb(30, 30, 30);
  }

/* ---------- page heading --------------------------------------------- page heading ---------- */

.custom-H1-wrapper
  {
    margin-left: var(--custom-wide-screen-margin);
    margin-right: var(--custom-wide-screen-margin);
    padding-left: var(--custom-content-padding-horizontal);
    padding-right: var(--custom-content-padding-horizontal);
    padding-bottom: var(--custom-content-padding-vertical);
    padding-top: var(--custom-content-padding-vertical);    
    border-bottom: var(--custom-H1-wrapper-border);
  }
  
H1
  {
    font-size: var(--custom-H1-font-size);
    color: var(--custom-H1-font-color);
  }
  
.custom-H1-center
  {
    text-align: center;
  }

/* ---------- page content --------------------------------------------- page content ---------- */

.page-content-wrapper
  {
    margin-left: var(--custom-wide-screen-margin);
    margin-right: var(--custom-wide-screen-margin);
    padding-left: var(--custom-content-padding-horizontal);
    padding-right: var(--custom-content-padding-horizontal);
    padding-bottom: var(--custom-content-padding-vertical);
    padding-top: var(--custom-content-padding-vertical);
  }

.categories-container
  {
    text-align: center;
    width: 100%;
  }

.category
  {
    width: var(--custom-category-width);
    height: var(--custom-category-height);
    display: inline-block;
    vertical-align: middle;
    border-radius: var(--custom-category-radius);
    margin: var(--custom-categories-margin);
    overflow: hidden;
    position: relative;
    text-decoration: none;
    box-shadow: var(--custom-category-shadow);
  }

.category img
  {
    width: 100%;
  }
  
.category p
  {
    position: absolute;
    bottom: 0px;
    width: 100%;
    line-height: var(--custom-category-text-background-height);
    font-weight: bold;
    background-color: var(--custom-category-text-background-color);
    color: var(--custom-category-font-color);
    font-size: var(--custom-category-font-size);
  }
  
.category:hover p
  {
    background-color: var(--custom-category-hover-background-color);
    color: var(--custom-category-hover-font-color);
  }

/* ---------- contact form --------------------------------------------- contact form ---------- */

.form-background
  {
    width:°100%;
    background-color: var(--custom-form-background-color);
  }

.form-wrapper
  {
    margin-left: var(--custom-wide-screen-margin);
    margin-right: var(--custom-wide-screen-margin);
    padding-left: var(--custom-content-padding-horizontal);
    padding-right: var(--custom-content-padding-horizontal);
    padding-bottom: var(--custom-content-padding-vertical);
    padding-top: var(--custom-content-padding-vertical);
  }

.form-wrapper p.form-info
  {
    font-size: var(--custom-form-info-font-size);
  }

.form-wrapper p.form-heading
  {
    font-size: var(--custom-H2-font-size);
    color: var(--custom-H2-font-color);
    font-weight: bold;
    text-align: center;
    margin-bottom: var(--custom-form-items-margin);
  }

input[type="text"], input[type="email"]
  {
    width: 100%;
    height: var(--custom-form-items-height);
    padding: var(--custom-form-fields-text-padding);
    border-radius: var(--custom-form-items-border-radius);
    border: none;
    font-size: var(--custom-form-fields-font-size);
  }

textarea
  {
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    height: calc(2 * var(--custom-form-items-height) + var(--custom-form-items-margin));
    min-height: var(--custom-form-items-height);
    padding: var(--custom-form-fields-text-padding);
    border-radius: var(--custom-form-items-border-radius);
    border: none;
    font-size: var(--custom-form-fields-font-size);
  }


input[type="submit"]
  {
    background-color: var(--custom-form-button-background-color);
    color: var(--custom-form-button-font-color);
    border: none;
    border-radius: var(--custom-form-items-border-radius);
    cursor: pointer;
    float: right;
    height: var(--custom-form-items-height);
    width: var(--custom-form-items-width);
    font-size: var(--custom-form-button-font-size);
  }

input[type="submit"]:hover
  {
    background-color: var(--custom-form-button-hover-background-color);
    color: var(--custom-form-button-hover-font-color);
  }
    
.col-200
  {
    float: left;
    width: var(--custom-form-items-width);
    margin-right: var(--custom-form-items-margin);
  }

.col-calc
  {
    float: left;
    width: calc(100% - 2 * var(--custom-form-items-width) - 2 * var(--custom-form-items-margin));
  }

.col-50
  {
    float: left;
    width: 50%;
  }

.col-100
  {
    float: left;
    width: 100%;
    margin-bottom: var(--custom-form-items-margin);
  }

.row:after
  {
    content: "";
    display: table;
    clear: both;
  }

#submit-message
  {
    padding-top: var(--custom-form-items-margin);
    text-align: center;
    font-size: var(--custom-form-info-font-size);
  }

.submit-message-not-displayed
  {
    display: none;
  }

/* ---------- bottom footer ------------------------------------------- bottom footer ---------- */

.bot-foot-background
  {
    width:°100%;
    background-color: var(--custom-footer-background-color);
  }

.bot-foot-wrapper
  {
    margin-left: var(--custom-wide-screen-margin);
    margin-right: var(--custom-wide-screen-margin);
    padding-left: var(--custom-content-padding-horizontal);
    padding-right: var(--custom-content-padding-horizontal);
    padding-bottom: var(--custom-content-padding-vertical);
    padding-top: var(--custom-content-padding-vertical);
    text-align: center;
    color: var(--custom-footer-font-color);
    font-size: var(--custom-footer-font-size);
    position: relative;
  }

.bot-foot-wrapper span
  {
    color: var(--custom-footer-span-font-color);
  }

.bot-foot-heading
  {
    font-weight: bold;
  }

.bot-foot-left
  {
    text-align: left;
    position: absolute;
    top: var(--custom-content-padding-vertical);
    left: var(--custom-content-padding-horizontal);
  }  
  
.bot-foot-right
  {
    text-align: right;
    position: absolute;
    top: var(--custom-content-padding-vertical);
    right: var(--custom-content-padding-horizontal);
  } 
  
.bot-foot-mid
  {
    display: inline-block;
  } 

/* ---------- test ------------------------------------------------------------- test ---------- */

#test-result
  {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 200px;
    height: 100px;
    border: 2px solid red;
    text-align: center;
    font-size: 1rem;
    color: rgb(0, 0, 0);
    z-index: 10;
    font-size: 0.8rem;
    background-color: rgb(255, 255, 255);
  }

/* ----------------------------------------------------------------------------------------------------------------------------------------------- */
/* ---------- changes on sreen resize ------------------------------------------------------------------------- changes on sreen resize ---------- */
/* ----------------------------------------------------------------------------------------------------------------------------------------------- */

/* ---------- 1st break point --------------------------------------- 1st break point ---------- */

@media screen and (max-width: calc(900px + 2 * 200px))
  {
    /* top heading */
    
    #top-head-wrapper
      {
        width: var(--custom-break);
        margin-left: auto;
        margin-right: auto;
      }
    
    /* top navigation menu */
    
    .top-nav-wrapper
      {
        width: var(--custom-break);
        margin-left: auto;
        margin-right: auto;
      }
      
    /* slideshow */
    
    .slideshow
      {
        width: var(--custom-break);
        margin-left: auto;
        margin-right: auto;
      }
    
    /* page heading */
    
    .custom-H1-wrapper
      {
        width: var(--custom-break);
        margin-left: auto;
        margin-right: auto;   
      }    
    
    /* page content*/
    
    .page-content-wrapper
      {
        width: var(--custom-break);
        margin-left: auto;
        margin-right: auto;   
      } 
    
    /* contact form */
    
    .form-wrapper
      {
        width: var(--custom-break);
        margin-left: auto;
        margin-right: auto;
      }    
    
    /* bottom footer */
    
    .bot-foot-wrapper
      {
        width: var(--custom-break);
        margin-left: auto;
        margin-right: auto;
      }
  }

/* ---------- 2nd break point --------------------------------------- 2nd break point ---------- */

@media screen and (max-width: 900px)
  {
    /* top heading */
    
    #top-head-wrapper
      {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        text-align: center;
      }
    
    #top-head-wrapper p
      {
        display: none;
      }
    
    .top-head-logo
      {
        float: none;
        width: 100%;
      }
    
    #top-head-decoration
      {
        left: 0px;
        width: 100%;
      }
    
    #top-head-line
      {
        height: var(--custom-heading-decoration-size);
      }

    /* top navigation menu */
    
    .top-nav-wrapper
      {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        position: relative;
      }
    
    .top-nav-logo
      {
        display: none;
      }
    
    #top-nav-number
      {
        float: left;
        padding-left: var(--custom-content-padding-horizontal);
        padding-right: 0px;
      }
    
    #menu-number
      {
        display: inline-block;
      }
    
    #top-nav-links
      {
        position: absolute;
        width: 100%;
        top: var(--custom-menu-height);
        background-color: var(--custom-menu-mobile-background-color);
        z-index: 2;
      }
    
    .top-nav-links-on
      {
        display: block;
      }
    
    .top-nav-links-off
      {
        display: none;
      }    
    
    .top-nav-link
      {
        display: block;
      }
    
    .dropdown-wrapper
      {
        display: block;
      }
      
    .dropdown-content
      {
        width: var(--custom-dropdown-mobile-width);
        left: calc((100% - var(--custom-dropdown-mobile-width)) / 2);
      }   
      
    .top-nav-icon
      {
        display: block;
      }

    /* slideshow */    
    
    .slideshow
      {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
      }
      
    /* page heading */
    
    .custom-H1-wrapper
      {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px; 
      }        
      
    /* page content */
    
    .page-content-wrapper
      {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px; 
      }        
      
    /* contact form */
    
    .form-wrapper
      {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
      } 

    .col-50, .col-100, .col-200, .col-calc
      {
        width: 100%;
        float: none;
        text-align: center;
        margin-right: 0px;
      }
 
    .col-50
      {
        margin-top: var(--custom-form-items-margin);
      } 
 
    input[type=submit]
      {
        float: none;
      }
      
    /* bottom footer */
    
    .bot-foot-wrapper
      {
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
      }      
  }